<div class="container" style="left: 0px; right: 0px; padding: 20px;">
    <div class="row" style="padding: 20px;max-width: 450px;" *ngFor='let project of Projects'>
        <div class="col" style="width: 100%;">
            <div class="card">
                <div class="card-header" data-toggle="" data-target="#demo">
                    {{project.projectName}} - Something Extra as well&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-star"></i>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                </div>
                <div class="card-body" id="demo" class="">
                    <h4 class="card-title">This Projec is about something that will come here!!</h4>
                    <h5>Start Date : {{project.projectStartDate | date}}</h5>
                    <h5>End Date : {{project.projectEndDate | date}}</h5>
                    <a routerLink='detail-project' class="btn btn-primary btn-sm">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>