<nav id="sidebar">
    <div class="sidebar-header">
        <span class="text-center">
            <h3><img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                    width="70" height="70" class="rounded-circle"> {{userName}}</h3>
        </span>
        <h5>Hi!! This is testing and testing is what it is.</h5>
    </div>
    <ul class="list-unstyled components" >
        <li *ngFor='let list of sideBarList'><a href="">{{list}}</a></li>
    </ul>
</nav>