<footer id="footer" class="bg-dark text-white border-top" style="box-shadow: 2px 1px grey;">
    <div class="pt-5 bg-light text-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                    <h2 class="mb-3"><i class="far fa-gem"></i> MyTaskNow</h2>
                    <p class="mb-1">&nbsp;<i class="fa fa-map-marker fa-fw"></i> Royal Road - Sarjapur - Bengaluru</p>
                    <p class="mb-1">&nbsp;<i class="fa fa-phone fa-fw"></i> +91 958-990-0205</p>
                    <p class="mb-1">&nbsp;<i class="fa fa-envelope fa-fw"></i><a class="text-dark" href="mailto:contact@company.com"> mytasknow.com</a></p>
                </div>
                <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                    <!-- <p class="my-3">Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus.</p> -->
                </div>
                <div class="col-lg-4 text-center text-lg-right pb-4">
                    <h3 class="mb-0">Follow us</h3>
                    <p class="mb-2">Subscribe to our newsletter</p>
                    <form class="d-flex justify-content-center justify-content-lg-end">
                        <div class="form-group w-75">
                            <div class="input-group"><input type="text" class="form-control" required placeholder="Your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email" />
                                <div class="input-group-append"><button class="btn btn-dark" type="submit">Go!</button></div>
                            </div>
                        </div>
                    </form>
                    <div>
                        <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="#"><i class="fab fa-twitter fa-2x"></i></a>
                        <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
                        <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="#"><i class="fab fa-snapchat-ghost fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center text-lg-left py-2 small bg-dark text-info font-italic">
        <div class="container">
            <p class="m-0">© 2018 Company ~ All rights reserved</p>
        </div>
    </div>
</footer>