<div class="container text-center">
    <br><br><br>
    <div class="row">
        <div class="col">
            <article>
                <h2>Google Chrome</h2>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most
                    popular web browser today!</p>
            </article>
            <article>
                <h2>Google Chrome</h2>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most
                    popular web browser today!</p>
            </article>
        </div>
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <article>
                <h2>Google Chrome</h2>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most
                    popular web browser today!</p>
                    <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most
                        popular web browser today!</p>
            </article>
            <article>
                <h2>Google Chrome</h2>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most
                    popular web browser today!</p>
                    <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most
                        popular web browser today!</p>
            </article>
        </div>
    </div>
    <br><br>
</div>